/* Carousel wrapper */
.carousel-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1600px;
  margin: 40px auto;
  padding: 0 1rem;
}

/* Botões de scroll */
.carousel-scroll-btn {
  background-color: #0099ff; 
  border: none;
  color: white;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background 0.3s ease, transform 0.2s ease;
  z-index: 2;
}

.carousel-scroll-btn:hover {
  background-color: #00aeff; /* Azul mais escuro */
  transform: scale(1.05);
}

/* Espaçamento dos botões */
#btn-left {
  margin-right: 1rem;
}
#btn-right {
  margin-left: 1rem;
}

/* Container de cards */
.cards-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  -ms-overflow-style: none;  /* IE/Edge */
  scrollbar-width: none;     /* Firefox */
  width: 100%;
  height: 500px;
}

.cards-container::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

/* Cards */
.card {
  flex: 0 0 auto;
  width: 280px;
  margin: 0 10px;
  padding: 1.5rem;
 background: linear-gradient(135deg, #0d47a1, #1976d2, #42a5f5);
  color: white;
    scroll-snap-align: center;

  border: 1px solid #e0e0e0;
  border-radius: 12px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, opacity 0.3s ease, box-shadow 0.3s ease;
  opacity: 0.6;
  transform: scale(0.9);
}

.card:hover {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}

.card.in-view {
  opacity: 1;
  transform: scale(1);
  border-color: #8503ff;
}
.card h2 {
  font-size: 2rem; /* Aumenta o título */
  margin-bottom: 10px;
  color: #012c49;
}

.card p {
  font-size: 1.3rem; /* Aumenta o texto */
  line-height: 1.4;
}
card .icon {
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
}

.card svg {
  display: block;
  margin: 0 auto;
}
.titulo-funcionalidades {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;

  background: linear-gradient(to right, #3b82f6, #0ea5e9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* Compatibilidade para navegadores que não aplicam -webkit */
  background-clip: text;
  color: transparent;
}


footer{
  position: fixed;
  
}
