
.container-home {
  
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}
input,
button {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid #ccc;
}
button {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    width: 250px;
}
.votacao{
    width: 100%;
    max-width: 500px;
    margin: 15px 15px;
 
    padding: 30px 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f7f7f7;

}
#vote-list{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 0 auto;
}

/*
.home-button    {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 30px 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f7f7f7;
    }*/