.home-body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    color: #000000;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #0052af;
    display: flex;
  
    padding: 10px 20px;
    margin:  0;

}
